@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}



<div class="text-center jumbotron" name="info">
    <h1 class="display-4">About</h1>
    <p>
        SportsPro Technical Support constantly stives to provide the highest level of technical support
        for all products in the SportsPro family


    </p>
</div>